<div class="vb__auth__containerInner">
  <div class="card vb__auth__boxContainer">
    <div class="text-dark font-size-24 mb-4">
      <strong>Passwort zurücksetzten</strong>
    </div>
    <form name="bi-reset">
      <div *ngFor="let field of fb.getFormForSection(viewSettings.section.idx)" [class]="field.containerClassName">
        <label [for]="field.id" class="pb-2">{{field.label}}</label>
        <input [id]="field.id" [maxlength]="field.maxlength"
               [name]="field.id"
               [type]="field.type"
               [(ngModel)]="field.value"
               [class]="field.className"
               (change)="field.cb($event.target['value'],$event,$event.type)">
        <small *ngIf="field.error" class="text-danger"> {{field.error}} </small>
      </div>
      <hr style="opacity: 0">
      <div class="d-flex justify-content-between">
        <div class="form-group w-50 page__forgot-error">
          <small>{{fb.msg.error}}</small>
        </div>

      </div>


      <button  class="btn btn-primary text-center w-100"
              *ngIf="this.viewSettings.section.idx != 2"
              (click)="fb.submit({section:viewSettings.section.idx})">
        <strong>{{fb.submitText}}</strong>
      </button>

    </form>
    <a  [routerLink]="'/auth'" class="vb__utils__link font-size-16 mt-3">
      <i class="fe fe-arrow-left mr-1 align-middle"></i>
      Zurück zum Login
    </a>
  </div>
</div>
