<div class="vb__auth__authContainer vb__auth__authContainer vb__auth__authContainer--brown">
  <div class="vb__auth__topbar justify-content-center">
    <div class="vb__auth__logoContainer">
      <div class="vb__auth__logoContainer__logo">
        <div class="vb__auth__logoContainer__name pl-2">

        </div>
      </div>
    </div>
    <div class="d-none d-sm-block">
      <span class="vb__auth__textContainer-splited">
        <a>Passioniert</a> <span>|</span> <a>Ambitioniert</a> <span>|</span> <a>Nachhaltig </a> <span>|</span><a>Wertvoll</a> <span>|</span> <a>Verantwortungsvoll</a>
      </span>
    </div>
  </div>

    <router-outlet class=""></router-outlet>

  <div *ngIf="false" class="mt-auto pb-5 pt-5">
    <ul class="vb__auth__footerNav list-unstyled d-flex mb-0 flex-wrap justify-content-center">
      <li class="list-inline-item">
        <a href="javascript: void(0);">Terms of Use</a>
      </li>
      <li class="list-inline-item">
        <a href="javascript: void(0);">Compliance</a>
      </li>
      <li class="list-inline-item">
        <a href="javascript: void(0);">Support</a>
      </li>
      <li class="list-inline-item">
        <a href="javascript: void(0);">Contacts</a>
      </li>
    </ul>
    <div *ngIf="false" class="text-center pt-2">
      Copyright © {{currentYear}} Wes
    </div>
  </div>
</div>

<!--

https://github.com/codrops/ImageGridMotionEffect
https://github.com/lhbizarro/infinite-webl-gallery
https://stackoverflow.com/questions/49007691/how-can-customize-chartjs-doughnut-chart-border-and-tooltip
-->
