<div class="p-3 pt-4 content text-center">

  <div class="row p-0 m-0 w-100">
    <div *ngFor="let team of teams" class="col-md-3 col-12 col-xs-2 col-sm-3 mb-2">
        <div [style.background]="team.color" class="card shadow">
           <div>
             <div class="text-left p-2">
               <h4 class="text-white">{{team.title}}</h4>
               <p class="p-0 m-0 text-white">{{getTeamsLeaderLabel(team.usersLead)}}</p>
             </div>
           </div>
           <div class="p-2">
             <table class="table">
               <tr>
                 <td title="Summe aus Konten der Tätigkeiten (BTO)">Umsatz</td>
                 <td class="text-right">{{calcRevenue(team.revenue)}}</td>
               </tr>
               <tr>
                 <td title="Summe der Produktivität von den Mitarbeiter aus {{team.title}}">Produktivität</td>
                 <td class="text-right">{{calcProductivityByUserIds(team.users)}}%</td>
               </tr>
               <tr>
                 <td title="Stunden der Mitarbeiter vom Team {{team.title}}">Stunden</td>
                 <td class="text-right">{{calcHoursByUserIds(team.users,'total')}}h</td>
               </tr>
               <tr>
                 <td title="Anzahl der Tätigkeiten">Tätikeiten</td>
                 <td class="text-right">{{team.activities?.length}}</td>
               </tr>
               <tr>
                 <td title="Anzahl der Mitarbeiter">MA</td>
                 <td class="text-right">{{team.users?.length}}</td>
               </tr>
             </table>
           </div>
        </div>
    </div>
  </div>
</div>
